@font-face {
    font-family: 'jakarta-medium';
    src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf')
}
  
.btn-item {
    position: relative;
    height: 70px;
    width: 223px;
}

.btn-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    width: 97.75%;
    border-radius: 1000px;
    background-color: #242424;
    z-index: 0;
    transition: all 250ms ease;
    font-family: 'jakarta-semibold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.125rem;
    color: white;
    line-height: 1.875rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-outline {
    position: relative;
    right: -2.25%;
    bottom: -10%;
    height: 90%;
    width: 97.75%;
    border-radius: 1000px;
    background-color: rgba(0,0,0,0);
    border: 3px solid #242424;
    z-index: 1;
    cursor: pointer;
}

.btn-outline:hover ~ .btn-fill {
    top: 10%;
    left: 2.25%;
}