@font-face {
    font-family: 'jakarta-light';
    src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Light.ttf')
}

@font-face {
    font-family: 'jakarta-medium';
    src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf')
}

@font-face {
    font-family: 'jakarta-bold';
    src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf')
}

@font-face {
    font-family: 'jakarta-semibold';
    src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBold.ttf')
}

@font-face {
    font-family: 'jakarta-regular';
    src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf')
}

.plans {
    position: relative;
    background-color: #fffbf0;
    height: auto;
    width: 100%;
    padding-top: 65px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.plans-container {
    position: relative;
    height: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans-header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
    margin-bottom: 45px;
}

.plans-header {
    height: auto;
    width: 100%;
    color: #787EF2;
    font-family: 'jakarta-bold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4.375rem;
    line-height: 4.688rem;
    text-align: start;
}

.plans-book-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.plans-book-text {
    color: #242424;
    font-family: 'jakarta-medium', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.125rem;
    line-height: 2.206rem;
    letter-spacing: -2%;
    text-align: start;
    margin-right: 4.5%;
}

.plans-grid {
    position: relative;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.plan-item {
    display: flex;
    flex-direction: column;
}

.plan-left-item-border {
    border-top: 3px solid #E5E4FF;
    border-left: 3px solid #E5E4FF;
}

.plan-value-item-border {
    border-top: 6px solid #7A80F6;
    border-left: 6px solid #7A80F6;
    border-right: 6px solid #7A80F6;
}

.plan-right-item-border {
    border-top: 3px solid #E5E4FF;
    border-right: 3px solid #E5E4FF;
}

#plan-item1 {
    margin-top: 20px;
}

#plan-item3 {
    margin-top: 20px;
    background-color: rgba(229, 228, 255, 0.3);
}

.plan-item-cost-container {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plan-item-cost-header {
    font-family: 'jakarta-bold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.563rem;
    line-height: 2.206rem;
    letter-spacing: -2%;
    color: #242424;
}

.plan-item-cost-sub {
    font-family: 'jakarta-regular', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.063rem;
    line-height: 2.206rem;
    letter-spacing: -2%;
    color: #242424;
}

.plan-item-desc-container {
    height: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.plan-item-desc-header {
    font-family: 'jakarta-bold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.063rem;
    line-height: 2.5rem;
    letter-spacing: -2%;
    color: #242424;
    padding-left: 10%;
}

.plan-item-desc-text {
    font-family: 'jakarta-regular', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.063rem;
    line-height: 1.563rem;
    letter-spacing: -2%;
    color: #242424;
    width: 85%;
    padding-bottom: 80px;
    padding-left: 10%;
}

.plan-item-button-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
}

.plan-item-best-value {
    position: absolute;
    height: 35px;
    width: 133px;
    background-color: #7D82FC;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    top: -15px;
    font-family: 'jakarta-bold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.063rem;
    line-height: 1.5rem;
    letter-spacing: -2%;
    color: #FFFBF1;
}