@font-face {
  font-family: 'jakarta-bold';
  src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf')
}

@font-face {
  font-family: 'jakarta-semibold';
  src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBold.ttf')
}

@font-face {
  font-family: 'jakarta-light';
  src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Light.ttf')
}

@font-face {
  font-family: 'jakarta-medium';
  src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf')
}

.hero {
  width: auto;
  background-color: #e1e0fa;
  position: relative;
  padding-top: 120px;
  /* padding-left: 130px;
  padding-bottom: 50px;
  */
}

.hero-container {
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  z-index: 2;
  margin-left: 7.5%;
  margin-bottom: 50px;
}

.hero-left-container {
  height: auto;
  width: 100%; /* change? */
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero-logo-wrapper {
  position: relative;
  height: auto;
  width: 100%;
  padding-bottom: 52px;
  background-color: purple;
}

.hero-header {
  height: auto;
  width: 100%;
  font-family: 'jakarta-bold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 4.375rem;
  color: #242424;
  line-height: 5.625rem;
  letter-spacing: -2%;
  padding-bottom: 20px;
  background-color: red;
}

.hero-sub-header {
  font-family: 'jakarta-light', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.125rem;
  line-height: 1.875rem;
  letter-spacing: -2%;
  color: #242424;
  padding-bottom: 60px;
  background-color: yellowgreen;
}

.hero-button-wrapper {
  height: auto;
  width: 100%;
  background-color: blue;
}

.hero-right {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: orange;
}

#hero-right-images {
  position: relative;
}

#hero-desktop {
  position: absolute;
  right: 0;
  top: 105px;
}

#hero-mobile {
  position: absolute;
  top: 280px;
  right: 310px;
}

#hero-dots {
  position: absolute;
  top: 275px;
  right: 490px;
}

.pm-gradient-wrapper {
  height: 200px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-gradient {
  margin-top: 250px;
  background-image: url('../../assets/hero-gradient.svg');
  height: 1600px;
  width: 100%;
  background-size: cover;
  position: absolute;
  z-index: 1;
  
}

@media screen and (max-width: 1440px) {
  .hero-right {
    justify-content: flex-start;
    overflow: hidden;
  }

  #hero-right-images {
    left: 12%;
    
  }

}
