@font-face {
  font-family: 'jakarta-bold';
  src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf')
}

@font-face {
  font-family: 'jakarta-semibold';
  src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBold.ttf')
}

@font-face {
  font-family: 'jakarta-light';
  src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Light.ttf')
}

@font-face {
  font-family: 'jakarta-medium';
  src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf')
}

.hero {
  width: auto;
  background-color: #e1e0fa;
  position: relative;
  padding-top: 120px;
}

.hero-container {
  height: auto;
  width: auto;
  display: grid;
  grid-template-areas:
    'logo right-image'
    'header right-image'
    'sub-header right-image'
    'button right-image';
  grid-template-columns: 50% 50%;
  grid-template-rows: 110px auto auto 1fr;
  position: relative;
  z-index: 2;
  margin-left: 9%;
}

.hero-logo-wrapper {
  height: auto;
  position: relative;
  grid-area: logo;
}

.hero-header {
  font-family: 'jakarta-bold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 4.375rem;
  color: #242424;
  line-height: 5.625rem;
  letter-spacing: -2%;
  padding-bottom: 20px;
  grid-area: header;
}

.hero-sub-header {
  font-family: 'jakarta-light', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.125rem;
  line-height: 1.875rem;
  letter-spacing: -2%;
  color: #242424;
  padding-bottom: 60px;
  grid-area: sub-header
}

.hero-button-wrapper {
  grid-area: button;
  padding-bottom: 50px;
}

.hero-right {
  height: auto;
  width: auto;
  position: relative;
  display: flex;
  justify-content: flex-end;
  grid-area: right-image;
}

#hero-right-images {
  position: absolute;
  height: 610px;
  width: auto;
  overflow: hidden;
}

#hero-desktop {
  position: absolute;
  right: 0;
  top: 105px;
}

#hero-mobile {
  position: absolute;
  top: 280px;
  right: 310px;
}

#hero-dots {
  position: absolute;
  top: 275px;
  right: 490px;
}

.hero-gradient-wrapper {
  height: 200px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-gradient {
  margin-top: 250px;
  background-image: url('../../assets/hero-gradient.svg');
  height: 1600px;
  width: 100%;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 1400px) {
  .hero-right {
    justify-content: flex-start;
    overflow-x: hidden;
  }

  #hero-right-images {
    left: 18.5%;
  }

}

@media screen and (max-width: 850px) {
  .hero-header {
    font-size: 3.438rem;
    line-height: 4.375rem;
  }

  #hero-right-images {
    height: 485px;
  }
}

@media screen and (max-width: 650px) {
  .hero-header {
    font-size: 2.969rem;
    line-height: 3.75rem;
  }

  #hero-right-images {
    height: 424px;
  }
}

@media screen and (max-width: 550px) {
  .hero-container {
    grid-template-areas:
      'logo'
      'header'
      'right-image'
      'sub-header'
      'button';
      grid-template-columns: auto;
      grid-template-rows: 110px auto auto auto auto;
      margin-left: 0;
  }

  .hero-logo-wrapper {
    padding-left: 9%;
  }

  .hero-header {
    font-size: 2.5rem;
    line-height: 3.125rem;
    padding-left: 9%;
    padding-right: 9%;
  }

  .hero-sub-header {
    padding-left: 9%;
    padding-right: 9%;
  }

  #hero-right-images {
    position: relative;
    height: 480px;
    left: 0;
  }

  .hero-right {
    justify-content: flex-end;
  }

  .hero-button-wrapper {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 450px) {
  #hero-right-images {
    left: 10%;
  }

  .hero-right {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 390px) {
  #hero-right-images {
    height: 363px;
    left: 0
  }

  .hero-right {
    justify-content: flex-end;
  }
}
