@font-face {
    font-family: 'jakarta-light';
    src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Light.ttf')
}

@font-face {
    font-family: 'jakarta-medium';
    src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf')
}

@font-face {
    font-family: 'jakarta-bold';
    src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf')
}


.pm {
    position: relative;
    background-color: #fffbf0;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 180px;
    padding-bottom: 105px;
}

.pm-container {
    margin-left: 2.5%;
    position: relative;
    display: grid;
    grid-template-columns: 26.5% 73.5%;
    min-height: 395px;
    width: 71.5%;
    z-index: 1;
}

.pm-heading {
    height: auto;
    width: 100%;
}

#pm-circle {
    position: absolute;
    height: 35px;
    width: auto;
    top: -15px;
    right: 7%;
}

#pm-square {
    position: absolute;
    height: 30.6;
    width: auto;
    top: 25px;
    right: 3%;
}

#pm-triangle {
    position: absolute;
    height: 30px;
    width: auto;
    bottom: 45px;
    right: 44%;
}

.pm-box {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    background-image: url('../../assets/pm-box.svg');
    background-size: contain;
    background-repeat: no-repeat;
    
}

.pm-box-grid {
    margin-left: 30px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: -1;
}

.pm-box-grid-item {
    height: auto;
    width: auto;
    padding-top: 30px;
    padding-left: 9%;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

.pm-box-header {
    font-family: 'jakarta-bold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.563rem;
    line-height: 2.206rem;
}

.pm-box-list {
    position: relative;
    list-style-type: none;
    font-family: 'jakarta-medium', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.125rem;
    line-height: 1.563rem;
}

.pm-box-list-item {
    margin-bottom: 18px;
    width: 90%;
}

#pm-left-shapes {
    height: 290px;
    width: auto;
    position: absolute;
    left: 0;
    bottom: 130px;
    z-index: 1;
}

.pm-button-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    height: auto;
    width: 100%;
    padding-top: 65px;
}

@media screen and (max-width: 1440px) {
    #pm-left-shapes {
        left: auto;
        right: 74%;
    }
}

@media screen and (max-width: 1201px) {
    #pm-left-shapes {
        bottom: 80px;
    }
}

@media screen and (max-width: 900px) {
    #pm-square {
        display: none;
    }

    #pm-circle {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .pm {
        padding-top: 65px;
        padding-bottom: 45px;
    }

    .pm-container {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        margin: 0 0;
        width: 60%;
        min-width: 326px;
    }

    .pm-heading {  
        padding-bottom: 30px;
    }

    .pm-box {
        background-image: url('../../assets/pm-box-mobile.svg')
    }

    .pm-box-grid {
        margin-top: 24px;
        margin-left: 0;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .pm-box-grid-item {
        padding-bottom: 17px;
    }

    #pm-box-grid-item1 {
        border-bottom: 3px solid #787EF2;
    }

    #pm-triangle {
        display: none;
    }

    #pm-left-shapes {
        display: none;
    }
}

@media screen and (max-width: 390px) {
    .pm-container {
        min-width: auto;
        width: 85%;
    }
}
