@font-face {
    font-family: 'jakarta-light';
    src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Light.ttf')
}

@font-face {
    font-family: 'jakarta-medium';
    src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf')
}

@font-face {
    font-family: 'jakarta-bold';
    src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf')
}

@font-face {
    font-family: 'jakarta-semibold';
    src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBold.ttf')
}

.faqs {
    position: relative;
    height: auto;
    width: 100%;
    background-color: #e5e4ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.faqs-container {
    width: 74%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.faqs-header {
    height: auto;
    width: 100%;
    color: #787EF2;
    font-family: 'jakarta-bold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700px;
    font-size: 75px;
    line-height: 75px;
    text-align: start;
    padding-bottom: 45px;
}

.faqs-vert-line {
    background-color: #FFFBF1;
    height: 3px;
    width: 100%;
    margin: 40px 0;
}
