.middle {
    min-height: 500px;
    background-color: #e5e4ff;
    position: relative;
    padding-top: 7%;
    display: flex;
    justify-content: center;
}

.middle-container {
    background-color: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
}

.middle-empty-space {
    background-color: #e5e4ff;
    height: 100px;
    width: auto;
}

