@font-face {
    font-family: 'jakarta-light';
    src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Light.ttf')
}

@font-face {
    font-family: 'jakarta-medium';
    src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf')
}

@font-face {
    font-family: 'jakarta-bold';
    src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf')
}

.experts {
    position: relative;
    background-color: #fffbf0;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 70px
}

.experts-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1080px;
}

.experts-heading-wrapper {
    width: 29%;
}

.experts-heading {
    color: #787EF2;
    font-family: 'jakarta-bold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700px;
    font-size: 75px;
    line-height: 75px;
}

.experts-rect-wrapper {
    margin-top: 15px;
    position: relative;
}

#experts-rectangle {
    height: 395px;
    width: auto;
}

#experts-circle {
    position: absolute;
    height: 35px;
    width: auto;
    top: -15px;
    right: 85px;
}

#experts-square {
    position: absolute;
    height: 30.6;
    width: auto;
    top: 25px;
    right: 40px;
}

#experts-triangle {
    position: absolute;
    height: 30px;
    width: auto;
    bottom: 45px;
    left: 275px;
}

.product-marketing-container {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    padding-left: 26px;
}

.product-marketing-box-wrapper {
    height: auto;
    width: 365px;
}

.product-marketing-text-wrapper {
    margin-top: 30px;
    margin-left: 34px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.product-marketing-header {
    font-family: 'jakarta-medium', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.product-marketing-list {
    position: relative;
    list-style-type: none;
    font-family: 'jakarta-light', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    line-height: 40px;
}

#experts-left-shapes {
    height: 248px;
    width: auto;
    position: absolute;
    left: 0;
    bottom: 120px;
}

.experts-button-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    height: auto;
    width: 100%;
    padding-top: 65px;
}