@font-face {
  font-family: 'jakarta-bold';
  src: url('./fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf')
}

@font-face {
  font-family: 'jakarta-light';
  src: url('./fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Light.ttf')
}

@font-face {
  font-family: 'jakarta-medium';
  src: url('./fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf')
}

* {
  margin: 0%;
  padding: 0%;
}

.container {
  /* min-width: 1300px; */
}
